* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }

a {
 
    color: #4C9CF1;
    text-decoration: none;
    font-weight: bold;
 
}

header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
  
nav {
 
}
  

 
li {

  display: inline-block;
  padding: 0px;
  margin: 0px;
/*  background-color: red;*/
 
}

/* ---- grid ---- */
.container{
  width: 100%;
  height: 100%;
  background: #EEE;
}

.grid {

  counter-reset: grid-item;
  margin-left: auto;
  margin-right: auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  float: left;
  background: green;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 { background-color: blue; /*background-image: url("../img/profiel1.jpg"); background-size: 100% auto; background-repeat: no-repeat;*/}
.grid-item--width3 {  background-color: red;}

.grid-item--height2 { ; }
.grid-item--height3 { }

.grid-item:before {
  counter-increment: grid-item;
  content: counter(grid-item);
  display: block;
  color: white;
  padding-top: 0.2em;
  text-align: center;
  font-size: 20px;
}

/*
/* Larger than mobile */
@media screen and (min-width: 319px) { 
  ul {
  text-align: center;
  padding: 0;
  margin-left: -1.5vw;
}
  .container{
  margin-top: 30vw;
}
  .grid {
    width: 90vw;
    height: 90vh;
  }

  header {
    width: 100vw;
    height: 30vw;
}
  .menu1{
    display: none;
  }

  .menu4{
    width: 29vw;
    height: 29vw;
    display: inline-block;
    background-color: red;
        -webkit-border-top-left-radius: 20vw;
    -webkit-border-top-right-radius: 20vw;
    -moz-border-radius-topleft: 20vw;
    -moz-border-radius-topright: 20vw;
    border-top-left-radius: 20vw;
    border-top-right-radius: 20vw;
    margin: 0.5vw 0.5vw 0.5vw 0vw;
  }
  .menu3, .menu2{
    display: inline-block;

    width: 29vw;
    height: 29vw;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 29vw 29vw;
    border-color: transparent transparent #007bff transparent;
    margin: 0.5vw 0.5vw 0.5vw 0vw;
  }

  .grid-item {
  width: 29vw;
  height: 29vw; 
  margin: 0.5vw;
}
.grid-item--width2 { width: 59vw; background-color: blue; /*background-image: url("../img/profiel1.jpg"); background-size: 100% auto; background-repeat: no-repeat;*/}
.grid-item--width3 { width: 59vw; height: 59vw; background-color: red;}

.grid-item--height2 { }
.grid-item--height3 { }
}
 


/* Larger than Desktop HD */
@media screen and (min-width: 780px) {
  ul {
  text-align: center;
  padding: 0;
  margin-left: -2vw;
}
  .container{
  margin-top: 20vw;
}

  .grid {
    width: 80vw;
    height: 80vh;
  }

  header {
    width: 100vw;
    height: 20vw;
}

.menu1{
  display: inline-block;
}
  .menu4{
    width: 19vw;
    height: 19vw;
    display: inline-block;
    background-color: red;
    -webkit-border-top-left-radius: 10vw;
    -webkit-border-top-right-radius: 10vw;
    -moz-border-radius-topleft: 10vw;
    -moz-border-radius-topright: 10vw;
    border-top-left-radius: 10vw;
    border-top-right-radius: 10vw;
    margin: 0.5vw 0.5vw 0.5vw 0vw;
  }
  .menu1, .menu2, .menu3{
    width: 19vw;
    height: 19vw;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 19vw 19vw;
    border-color: transparent transparent #007bff transparent;
    margin: 0.5vw 0.5vw 0.5vw 0vw;
  }

  .grid-item {
  width: 19vw;
  height: 19vw;  
   margin: 0.5vw 0.5vw 0.5vw 0vw;

}
.grid-item--width2 { width: 39vw; background-color: blue; /*background-image: url("../img/profiel1.jpg"); background-size: 100% auto; background-repeat: no-repeat;*/}
.grid-item--width3 { width: 39vw; height:39vw; background-color: red;}

}

